.post {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
}

.post__wrapper {
    padding: 10px;
    border-radius: 10px;
    background-color: #1b2730;
}

.post__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post__top-left {
    display: flex;
}

.post__top-right {
    color: #fff;
}

.post__profile-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.post__username {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin: 5px 10px;
}

.post__date {
    color: #5b6875;
    font-weight: 600;
    font-size: 12px;
}

.post__center {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 10px;
    margin-left: 42px;
}
.post__text {
    margin-top: 10px;
}

.post__text-full {
    color: #1d90d7;
    font-weight: 600;
    font-size: 12px;
    margin-top: 15px;
    cursor: pointer;
}

.post__text-likes {
    color: #5b6875;
    font-weight: 600;
    font-size: 12px;
    margin-top: 5px;
    cursor: pointer;
}

.post__img {
    margin-top: 10px;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.post__bottom {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post__bottom-left {
    display: flex;
    align-items: center;
}

.like__icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.like__icon-counter {
    font-size: 15px;
}

.post__comment-text {
    color: #fff;
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}

.post__option {
    margin-left: 42px;
    cursor: pointer;
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}

.post__icon-like {
    width: 20px;
}

.post__option-text {
    font-size: 12px;
    font-weight: 600;
    padding-left: 5px;
}