.followers {
    background-color: #1b2730;
    border-radius: 15px;
    margin-top: 15px;
    padding: 10px 10px 10px 10px;
}

.followers__wrapper {
    padding-top: 5px;
    padding-bottom: 10px;
    width: 95%;
    margin: 0 auto;
}

.followers__text {
    font-weight: 600;
    color: #fff;
}
.followers__list {
    margin-top: 15px;
}
ul {
    margin-block-start: 0;
    padding-inline-start: 0;
}

.sidebar__link {
    color: #1da1f2;
    font-weight: 600;
    font-size: 14px;
    padding-top: 20px;
    cursor: pointer;
    padding-bottom: 20px;
}
.empty {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.empty img {
    margin-top: 10px;
    width: 90%;
    border-radius: 15px;
}