.share {
    width: 100%;
    border-radius: 15px;
    background-color: #1b2730;
    margin-bottom: 30px;
}

.share__wrapper {
    margin-top: 10px;
    padding: 10px;
    display: flex;
}

.share__avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    margin-left: 10px;
}

.share__input {
    height: 45px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    border: none;
    width: 98%;
    background-color: #28343e;
    color: #81909e;
    font-weight: 500;
}

.share__input::placeholder {
    color: #81909e;
    font-weight: 500;
    padding-left: 15px;
    font-size: 14px;
}

.share__input:focus {
    outline: none;
}

.share__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.share__options {
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
}

.share__option {
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    border: 2px solid #28343e;
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.share__option_text {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}

.share__icon {
    font-size: 18px;
    margin-right: 3px;
    color: #fff;
}

.share__button {
    border: none;
    padding: 6px;
    width: 95px;
    border-radius: 15px;
    background-color: #1da1f2;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    margin: 2px 10px 2px 2px;;
}

.share__img_container{
    padding: 0 20px 10px 20px;
    position: relative;
}

.share__img{
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.share__cancel{
    color: #1da1f2;
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    opacity: 0.7;
}