.share {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background-color: #1b2730;
    margin-bottom: 30px;
}

.share__wrapper {
    padding: 10px;
}

.share__top {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.share__profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.share__input::placeholder{
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    padding-left: 10px;
}

.share__input {
    background-color: #28343e;
    border: none;
    border-radius: 5px ;
    width: 100%;
    height: 30px;
}

.share__input:focus {
    outline: none;
}

.share__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.share__options {
    display: flex;
    margin-left: 45px;
}

.share__option {

    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.share__option-text {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}

.share__icon {
    font-size: 18px;
    margin-right: 3px;
}


.share__button {
    border: none;
    padding: 6px;
    width: 65px;
    border-radius: 10px;
    background-color: #fff;
    font-weight: 600;
    cursor: pointer;
    color: #000;
}